<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <%= render 'shared/errors' %>
            <%= form_with model: @article, class: "shadow p-3 mb-4 bg-info rounded justify-content-center", local: true do |f| %>
                <div class="form-group row">
                    <%= f.label :title, class: "col-sm-2 col-form-label text-light" %>
                    <div class="col-sm-10">
                        <%= f.text_field :title, class: "form-control", placeholder: "Title of Article" %>
                    </div>
                </div>
                <div class="form-group row">
                    <%= f.label :body, class: "col-sm-2 col-form-label text-light"%> 
                    <div class="col-sm-10"> 
                        <%= f.text_area :body, class: "form-control", rows: 5, placeholder: "Description of Article" %>
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <%= f.submit class: "btn btn-outline-light btn-lg " %>       
                </div>
            <% end %>
        </div>
    </div>
    
    <div class="form-group row justify-content-center">
        <%= link_to '[ Return to articles page ]', articles_path, class: "text-info"  %>
    </div>
</div>
