<h1 class="heading-title">Create a new article</h1>

<% if @article.errors.any? %>
    <h2>Errors: </h2>
    <ul>
        <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<%= form_with scope: :article, url: articles_path, local: true do |f| %>
    <p>
        <%= f.label :title %> <br>
        <%= f.text_field :title %>
    </p>
    <p>
        <%= f.label :body %> <br>
        <%= f.text_area :body %>
    </p>
    <p>
        <%= f.submit %>
    </p>
    
<% end %>
