<div id="page-content">
  <h1 class="text-center mt-4">Article No: <%= @article.id %> </h1>
    <div class="container">
        <div class="form-group row">
            <%= label_tag "title", "Title:" ,class: "col-sm-2" %>
            <div class="col-sm-10">
                <%= @article.title %>
            </div>
        </div>
        <div class="form-group row">
            <%= label_tag "body", "Body :" ,class: "col-sm-2" %>
            <div class="col-sm-10">
                <%= @article.body %>
            </div>
        </div>
        <div class="form-group row">
            <%= link_to 'Edit', edit_article_path, class: "btn btn-warning col-sm-5" %> |
            <%= link_to 'Edit', edit_article_path, class: "btn btn-warning col-sm-5" %> 
        </div>
        <div class="text-center">
            <%= link_to 'Return to Articles page', articles_path, class: "btn btn-primary" %>
        </div>
    </div>
</div>

